
/* Tomado desde: https://css-tricks.com/balancing-on-a-pivot-with-flexbox/ */
.puzzle .word {
  display: flex;
}

.puzzle .word .letter {
  width: 5em;
  height: 5em;
  margin: 0.05em;
  background-color: #555;
  color: white;
  text-align: center;
  user-select: none;
  position: relative;
  order: 2;
  right: 50%;
  border-radius: 0.5rem;
}

.puzzle .word .letter:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.puzzle .word .letter:last-child {
  margin-right: auto;
}

.puzzle .word .pivot {
  background-color: rgb(59 130 246);
}

.puzzle .word .pivot,
.puzzle .word .pivot ~ .letter {
  order: 1;
  left: 50%;
}
